body {
   background-color:gray;
}


form {
    color: white;
    border: 2px solid white;
   margin: 20px;
}

footer {
    background-color: plum;
}
.footer_style {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}